<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="navContainer" class="container-fluid">
    <a class="navbar-brand" href="/">Booki</a>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <form class="d-flex float-right div-right">
        <div class="autocomplete" style="width:300px;">
          <input id="nav-search" class="form-control me-2" placeholder="Search" aria-label="Search">
          <div id="quickSearchResults" class="autocomplete-items">
            {#
            <div><strong>R</strong>eunion<input type="hidden" value="Reunion"></div>
            <div><strong>R</strong>omania<input type="hidden" value="Romania"></div>
            <div><strong>R</strong>ussia<input type="hidden" value="Russia"></div>
            <div><strong>R</strong>wanda<input type="hidden" value="Rwanda"></div>
            #}
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

